
.DS_Store

data/soy_new.asc

data/reclass.tiff

data/mt_2017_v3_1_reprojection.tif

data/MatoGrosso_2017_original.tif

data/MatoGrosso_2017_reclass.tif

data/Reclassified_Crop_Amazon.tif

data/Reclassified_Crop_Cerrado.tif
